:root {
    --bg-light: var(--bs-light);
    --bg-dark: var(--bs-dark);
}

/* Light/Dark Mode begins*/
[data-bs-theme="light"] body {
    background-image: var(--bg-light);
}

[data-bs-theme="dark"] body {
    background-image: var(--bg-dark);
}
/*Light/Dark Mode ends*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-content {
    flex: 1;
}

.card {
    border: none;
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
}

h4 {
    color: var(--bs-tertiary-color);
    text-transform: uppercase;
    font-size: 1.1rem;
}
